@import "general.css";


#SeccionCuotas .cajaTexto{

    width: 20%;
    padding: 10px;
    min-height: 380px;
    border-radius: 20px;
    background: #EBE4E4;
}

#SeccionCuotas .cuadriculaflex{
    min-height: 400px;
}

#SeccionCuotas p{
    text-align: center;
    padding: 20px;
}