@import "general.css";

@media screen and (min-width: 1590px){
    .subMenuItem{
        margin: 0 calc(20px + 1vw);

    }
}

@media screen and (max-width: 1230px){
    .menuLista{
        flex-wrap: wrap;
    }
    .subMenuItem{
        margin: 20px;
    }
}

.escondida{
    display: none;
}

#MenuActividades .menuLista{
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color:inherit;
}

#MenuActividades  .submenuItem{
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 50px;
    padding:5px 60px;
    background-color: lightgray;
    font-family: Protomolecule, serif;
    cursor: pointer;

}

#MenuActividades  .submenuItem:hover{
    background: #b2d8b2;
    font-weight: bold;
    font-size: inherit;
}

#MenuActividades .cajaImagen{
    display: flex;
    justify-items: flex-start;
    /*padding-right: 210px;
    padding-top: 150px;*/
}
.textoImagen{
    padding-top: 20px;
    font-family: serif;
    font-size: 25px;
    max-width: 520px;
}

.actividades{
    min-height: 500px;
}


.alturaMinima{
    min-height: 800px;
}

#entrenamientoPersonalizado .cajaTexto{

    max-width: 20%;
    padding: 10px;
    min-height: 380px;
    border-radius: 20px;
    background: #EBE4E4;
}

#entrenamientoPersonalizado .cuadriculaflex{
    min-height: 400px;
}

#entrenamientoPersonalizado p{
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 1100px) {
    #entrenamientoPersonalizado .cajaTexto {
        max-width: 100%;
        margin-top: 30px;
        margin-left: 30px;
    }
}






