@import "general.css";

@media screen and (min-width: 1590px){
    .subMenuItem{
        margin: 0 calc(20px + 1vw);

    }
}

@media screen and (max-width: 1230px){
    .subMenuLista{
        flex-wrap: wrap;
    }
    .subMenuItem{
        margin: 20px;
    }
}

#MenuActividades > .cajaImagen{
    display: none;
    font-family: Serif;
    font-size: 21px;
    margin-top: 40px;

}

#MenuActividades > .cajaTexto{
}

#MenuActividades  .menuItem{
    margin: 20px;
    background-color: #b2d8b2;
    padding:5px 130px;
    width: 150px;


}

#MenuActividades  .menuItem:hover{
    background: #019853;
    font-weight: bold;
    font-size: inherit;

}

#entrenamientoPersonalizado .cajaTexto{

    max-width: 20%;
    padding: 10px;
    height: 360px;
    border-radius: 20px;
    background: #EBE4E4;
}

#entrenamientoPersonalizado .cuadriculaflex{
    min-height: 400px;
}

.fondoVerde{
    background: #b2d8b2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    border-radius: 20px;
    margin-top: 10px;
}

.textoPrecio{
    color: #019853;
    font-weight: bold;
}

#entrenamientoPersonalizado p{
    text-align: center;
    padding: 20px;
}




