@font-face {
    font-family: Protomolecule;
    src: url("../Protomolecule-Medium.ttf"); /* Coloca aquí la ruta del archivo de fuente */
}

html{
    /*background-color: black;*/
    background-color: white;
    font-family: Serif;
    /*color: white;*/
    color: black;
    margin: 0
}

h2{
    font-weight: bold;
    font-family: Protomolecule;
    padding-left: 40px;
    padding-top: 30px;
    font-size: 30px;
}

h3{
    font-weight: bold;
    padding-left: 15px;
}

a {
    white-space: nowrap;
}


figure img {
    max-width: 100%;
    max-height: 100%;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

/*Menus de nav*/

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding:0;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    background-color: black;
    color: white;
}

.subMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding:0;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    margin-top: 70px;
}

/*Ul de los nav*/

.menuLista{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color:inherit;
    background-color: black;
}

.subMenuLista{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color:inherit;
}

/*Li de los nav*/

.menuItem{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    padding:5px 10px;
    border:1px solid black;
    font-family: Protomolecule;
}

.subMenuItem{
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    padding:5px 120px;
    background-color: #b2d8b2;
    font-family: Protomolecule;
}

.refMenu{
    text-decoration: none;
    color:inherit;
}

.menuItem:hover{
    font-weight: bold;
    font-size: 30px;
}

@media screen and (min-width: 1590px) {
    .menuItem {
        margin: 0 calc(20px + 1vw);
    }
}

@media screen and (max-width: 1230px) {
    .menuLista {
        flex-wrap: wrap;
    }
}

.subMenuItem:hover{
    background: #019853;
    font-weight: bold;
    font-size: inherit;
}

/* Boton */

.boton{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding:0px 40px;
    background-color: #b2d8b2;
    font-family: Protomolecule;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.boton:hover{
    background: #019853;
    font-weight: bold;
    font-size: inherit;
}

/*Diseño a dos columnas*/

.cuadriculaflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cajaTexto {
    max-width: 40%;
    text-align: justify;
    align-self: center;
    font-size: 20px;
}

.cajaImagen{
    max-width: 40%;
    align-self: center;
    text-align: center;
    font-family: Protomolecule;
    font-size: 25px;
    margin-top:0;
}

@media screen and (max-width: 1100px) {
    .cuadriculaflex {
        flex-direction: column;
    }
}


/*Diseño a dos columnas del contenido de la pagina web*/

.PTexto_Imagen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
    grid-gap: 250px;
    text-align: center;
    margin: 75px;
    max-width: fit-content;
}

.Texto{
    grid-column: 1;
    grid-row: 1;
    font-size: 20px;
    text-align: left;
    padding-top: 5vw;
    padding-left: 5vw;

}
.Imagen{
    grid-column: 2;
    grid-row: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-family: Protomolecule;
    padding-top: 2vw;
    max-width: 650px;
}

.Imagen_Imagen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
    grid-gap: 250px;
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 0;
    max-width: 100%;
}

.Imagen1{
    grid-column: 1;
    grid-row: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-family: Protomolecule;
    max-width: 650px;
    padding-top: 5vw;
    padding-left: 5vw;
}

@media screen and (max-width: 1400px){
    .PTexto_Imagen {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        grid-gap: 1vw;
        text-align: center;
    }
    .Texto{
        grid-row: 1;
        grid-column: 1;
        max-width: 100%;
        padding-top: 5vw;
        padding-left: 5vw;
    }
    .Imagen{
        grid-row: 2;
        grid-column: 1;
        max-width: 100%;
        object-fit: scale-down;
    }
    .Imagen_Imagen {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1vw;
        text-align: center;
    }
    .Imagen1{
        grid-row: 1;
        grid-column: 1;
        padding-left: 0;
        padding-top: 0;
        max-width: 100%;
        object-fit: scale-down;
    }
}

@media screen and (max-width: 1000px){
    .PTexto_Imagen {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.3fr;
        grid-gap: 1vw;
        text-align: center;
    }
}

@media screen and (max-width: 650px){
    .PTexto_Imagen {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .Imagen_Imagen{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.smaller {
    transform: scale(0.95);
}


