@font-face {
    font-family: Protomolecule;
    src: url("../Protomolecule-Medium.ttf"); /* Coloca aquí la ruta del archivo de fuente */
}

html{
    background-color: white;
    font-family: serif;
    color: black;
}

body{
 margin: 0;
}

h2{
    font-weight: bold;
    font-family: Protomolecule, serif;
    padding-left: 40px;
    padding-top: 30px;
    font-size: 30px;
    display: flex;

}

h3{
    font-weight: bold;
    padding-left: 15px;
}

a {
    white-space: nowrap;
}

figure img {
    max-width: 100%;
    max-height: 100%;
}

img{
    border-radius: 20px;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

/*Menus de nav*/

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding:0;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: white;
}

.subMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding:0;
    justify-content: center;
    margin: 70px auto 0;
    max-width: 800px;
    width: 100%;
}

/*Ul de los nav*/

.menuLista{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    color:inherit;
}

/*Li de los nav*/

.menuItem{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    padding:5px 10px;
    font-family: Protomolecule, serif;
}

.subMenuItem{
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    padding:5px 120px;
    background-color: #b2d8b2;
    font-family: Protomolecule, serif;
}

.refMenu{
    text-decoration: none;
    color:inherit;
}

.menuItem:hover{
    font-weight: bold;
    font-size: 30px;
}

@media screen and (min-width: 1590px) {
    .menuItem {
        margin: 0 calc(20px + 1vw);
    }
}

@media screen and (max-width: 1230px) {
    .menuLista {
        flex-wrap: wrap;
    }
}

.subMenuItem:hover{
    background: #019853;
    font-weight: bold;
    font-size: inherit;
}

/* Boton */

.boton{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding:0 40px;
    background-color: #b2d8b2;
    font-family: Protomolecule,serif;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.boton:hover{
    background: #019853;
    font-weight: bold;
    font-size: inherit;
}

/*Diseño a dos columnas*/

.cuadriculaflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;

}

.Transicion{
    opacity: 0;
    transform: translateY(50px); /* Lo movemos hacia abajo 50px */
    transition: opacity 1.5s, transform 2s;
}

.cajaTexto {
    max-width: 40%;
    text-align: justify;
    align-self: center;
    font-size: 20px;
    padding-left: 70px;
}

.cajaTextoDerecha{
    padding: 0
}

.cajaImagen{
    max-width: 40%;
    align-self: center;
    text-align: center;
    font-family: Protomolecule,serif;
    font-size: 25px;
    margin-top:0;
}

.letraEspecial{
    font-family: Protomolecule,serif;
    font-size: 35px;
}

.colorVerdeResaltado{
    color: #019853;
    font-size: 40px
}

.colorVerde{
    color: #019853;
    font-size: 23px;
}

.bigger {
    transform: scale(1.05);
}

.fondoVerde{
    background: #b2d8b2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    border-radius: 20px;
    margin-top: 10px;
}


.textoPrecio{
    color: #019853;
    font-weight: bold;
}


/*Para el pie de pagina*/

footer .cajaImagen{
    max-width: 12%;
    object-fit: cover;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

footer .cajaImagen img{
    max-width: 100%;
}

footer .cajaTexto{
    padding-left: 0;
    max-width: 50%;
    display: flex;
    justify-content: left;
    font-family: Protomolecule,serif;
    font-size:17px;
    margin: 0;
}

footer{
    padding-top: 10px;
    color: white;
}

footer img{
    border-radius: 0;
}

.fondoVerdeFoot{
    background: #b2d8b2;
    color: black;
    margin:0;
}

.fondoVerdeFoot .cajaTexto{
    max-width: 40%;
    font-size:17px;
}

.fondoVerdeFoot .cajaImagen{
    max-width: 15%;
    object-fit: cover;
    font-size:17px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding-right: 20px;
    overflow: hidden;
    align-items: center;
}

.fondoVerdeFoot .cajaImagen img{
    max-width: 20%;
}

footer a{
    text-decoration: none;
    color: black;

}

footer a:hover{

    text-decoration: underline;
}

.decoracionEnlaces{
    color: black;
    text-decoration: underline;
}






/*Fin de pie de pagina*/

/*Inicio de MenuPrincipal*/


.inicio{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
}

.inicio img{
    border-radius: 0;
    object-fit: cover;
}

.inicio > img{
    min-height: 180px;
}

.textoInicio{
    position: absolute; /*posicion abosluta con respecto al contenedor*/
    color: white;
    font-weight: bold;
    font-family: Protomolecule,serif;
    letter-spacing: -2px;
    line-height: 1.5;
    font-size: calc(1rem + 2vw);
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.menuInicio{
    top: 4%;
    left: 60%;
    /*position: fixed;*/
}

.ImagenInicio{
    /* max-width: calc(300px + 2vw);*/
    max-width: 50%;
    height: auto;

}

.logoInicio{
    top: 10%;
    left: 7%;
    position: absolute;

}

@media screen and (max-width: 1380px) {
    .logoInicio{
        left: 12%;
    }

}


#logoMenu{
    display: none;
    width: 100%;
}

.menu{
    /*background-color: transparent;*/
    background-color: rgba(90, 90, 90, 0.5);
    margin-left: 0;
}


/*Fin de Menu principal*/

.sombreado{
    background-color: #ffffff; /* Color de fondo */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Sombra */
}

@media screen and (max-width: 1100px) {
    .cuadriculaflex {
        flex-direction: column;
    }
    main .cajaTexto{
        padding-left: 20px;
        max-width: 100%;
    }
    main .cajaTextoDerecha{
        padding-left: 20px;
        max-width: 100%;
    }
    main .cajaImagen{
        max-width: 100%;
    }
    footer{
        padding-top: 0;
    }
    footer .cajaTexto{
        max-width: 100%;
        text-align: center;
        margin : 10px;
    }
    footer .cajaImagen{
        max-width: 30%;
        margin : 10px;
    }
    .fondoVerdeFoot .cajaImagen{
        max-width: 100%;
        margin : 10px;
        font-size:calc(.7rem + 0.6vw);
        flex-direction: row;
    }
    .fondoVerdeFoot .cajaImagen img{
        max-width: 10%;
        margin-right: 20px;
    }
    .fondoVerdeFoot .cajaTexto{
        margin : 10px;
        max-width: 100%;
        font-size:calc(.7rem + 0.6vw);
    }
}

/* Carrusel */

.container-slide{
    position: relative;
    max-width: 657px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.container-slide img{
    max-width: 100%;
    border-radius: 0;
}

.slide{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.paginacion{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.paginacion-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor:pointer;
    background: rgba(255,255,255,0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.paginacion-item:hover{
    transform: scale(2);
}

.paginacion-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.paginacion-item:hover img{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide{
    animation:none;
    transform: translate3d(0,0,0);
}

[id="1"]:checked ~ .paginacion .paginacion-item[for="1"]{
    background: white;
}

input[id="2"]:checked ~ .slide{
    animation:none;
    transform: translate3d(calc((-100% * 1)),0,0);
}

[id="2"]:checked ~ .paginacion .paginacion-item[for="2"]{
    background: white;
}

input[id="3"]:checked ~ .slide{
    animation:none;
    transform: translate3d(calc((-100% * 2)),0,0);
}

[id="3"]:checked ~ .paginacion .paginacion-item[for="3"]{
    background: white;
}

@keyframes autoplay {
    25%{
        transform: translate3d(calc((-100% * 0)),0,0);
    }
    50%{
        transform: translate3d(calc((-100% * 1)),0,0);
    }
    75%{
        transform: translate3d(calc((-100% * 2)),0,0);
    }

}





