@import "general.css";


.inicio{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
}

.inicio img{
    border-radius: 0px;
    object-fit: cover;
}

.inicio > img{
    min-height: 180px;
}

.textoInicio{
    position: absolute; /*posicion abosluta con respecto al contenedor*/
    color: white;
    font-weight: bold;
    font-family: Protomolecule;
    letter-spacing: -2px;
    line-height: 1.5;
    font-size: calc(1rem + 2vw);
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.menuInicio{
    top: 4%;
    left: 60%;
    /*position: fixed;*/
}

.ImagenInicio{
   /* max-width: calc(300px + 2vw);*/
    max-width: 50%;
    height: auto;
}

.logoInicio{
    top: 10%;
    left: 7%;
    position: absolute;

}

@media screen and (max-width: 1380px) {
    .logoInicio{
        left: 12%;
    }

}

@media screen and (max-width: 1260px){

}



#logoMenu{
    display: none;
    width: 100%;
}

.menu{
    /*background-color: transparent;*/
    background-color: rgba(90, 90, 90, 0.5);
    margin-left: 0;
}

p {
    max-width: 600px;
}

.listaInicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.listaInicial li{
    padding: 10px; /
    margin-bottom: 5px;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    font-family: Protomolecule;
    font-size: 25px;
    margin-bottom: 20px;

}

.cajaImagen{
    margin-top: 50px;
    margin-bottom: 50px;
}

.boton{
    width: 130px;
}

.cajaTextoDerecha{
    padding: 0
}
.colorVerde{
    font-family: Protomolecule;
}

.cajaTexto{
    text-align: left;
}

.menuItem:hover{
    font-weight: bold;
    font-size: 30px;
}