@import "general.css";

.listaInicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.listaInicial li{
    padding: 10px; /
    margin-bottom: 5px;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    font-family: Protomolecule, serif;
    font-size: 25px;
    margin-bottom: 20px;
}

main .cajaImagen{
    margin-top: 50px;
    margin-bottom: 50px;
}

.boton{
    width: 130px;
}

.colorVerde{
    font-family: Protomolecule, serif;
}

main .cajaTexto{
    text-align: left;
}

.menuItem:hover{
    font-weight: bold;
    font-size: 30px;
}