@import "general.css";

@media screen and (min-width: 1590px){
    .subMenuItem{
        margin: 0 calc(20px + 1vw);

    }
}

@media screen and (max-width: 1330px){
    .menuLista{
        flex-wrap: wrap;
    }
    .subMenuItem{
        margin: 20px;
    }
}

.subMenuItem{
    width: 50px;
}

#Seguimiento .cajaTexto{
    max-width: 20%;
    padding: 10px;
    min-height: 380px;
    border-radius: 20px;
    background: #EBE4E4;
}

#Seguimiento .cuadriculaflex{
    min-height: 400px;
}

#Seguimiento p{
    text-align: center;
    padding: 20px;
}

#GeneracionMenus .cajaTexto{
    padding: 0;
    margin-right: 30px;
    max-width: 60%;
}

#EntrevistaPersonal .cajaImagen{
    padding-top: 10px;
}

@media screen and (max-width: 1250px) {
    #GeneracionMenus .cuadriculaflex {
        flex-direction: column;
    }
    #GeneracionMenus .cajaTexto {
        max-width: 100%;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    #GeneracionMenus .cajaImagen {
        max-width: 100%;
    }
    #NutricionDeportiva .cuadriculaflex {
        flex-direction: column;
    }
    #NutricionDeportiva .cajaTexto {
        max-width: 100%;
        margin: 20px;
    }
    #NutricionDeportiva .cajaImagen {
        max-width: 100%;
    }
}

@media screen and (max-width: 1400px) {
    #Seguimiento .cajaTexto {
        max-width: 40%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 900px) {
    #Seguimiento .cajaTexto {
        max-width: 100%;
        margin-top: 30px;
        margin-left: 30px;
    }
    #EntrevistaPersonal .cajaTexto{
        margin-right: 10px;
    }
}
