@import "general.css";

@media screen and (min-width: 1590px){
    .subMenuItem{
        margin: 0 calc(20px + 1vw);

    }
}

@media screen and (max-width: 1230px){
    .subMenuLista{
        flex-wrap: wrap;
    }
    .subMenuItem{
        margin: 20px;
    }
}

#Seguimiento .cajaTexto{
    max-width: 20%;
    padding: 10px;
    min-height: 380px;
    border-radius: 20px;
    background: #EBE4E4;
}

#Seguimiento .cuadriculaflex{
    min-height: 400px;
}

#Seguimiento p{
    text-align: center;
    padding: 20px;
}

#GeneracionMenus .cajaTexto{
    padding: 0;
    margin-right: 30px;
}

@media screen and (max-width: 1100px) {
    #Seguimiento .cajaTexto {
        max-width: 100%;
        margin-top: 30px;
        margin-left: 30px;
    }
}
