@import "general.css";

.inicio{
    position: relative;
    display: inline-block;
    text-align: center;
}

.textoInicio{
    position: absolute;
    /*top: 10px;
    left: 10px;*/
    color: white;
    font-size: calc(3rem + 1vw);
    font-weight: bold;
    font-family: Arial;
    letter-spacing: -2px;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
}

