@import "general.css";
.inicio{
    position: relative;
    display: inline-block;
    text-align: center;
}

.textoInicio{
    position: absolute;
    /*top: 10px;
    left: 10px;*/
    color: white;
    font-size: 45px;
    font-weight: bold;
    font-family: arial;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);

}