@import "general.css";


.inicio{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0;
}

.inicio img{
    border-radius: 0px;
    object-fit: cover;
}

.textoInicio{
    position: absolute; /*posicion abosluta con respecto al contenedor*/
    color: white;
    font-weight: bold;
    font-family: Protomolecule;
    letter-spacing: -2px;
    line-height: 1.5;
    font-size: calc(1rem + 2vw);
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.menuInicio{
    top: 10%;
    left: 60%;

}

.ImagenInicio{
    top: 10%;
    left: 10%;
}

.menuLista{
    background-color: transparent;
}

.menu{
    /*background-color: transparent;*/
    background-color: rgba(180, 180, 180, 0.5);
}
.menuItem{
    border-color: transparent;
}

p {
    max-width: 600px;
}

.listaInicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.listaInicial li{
    padding: 10px; /
    margin-bottom: 5px;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    font-family: Protomolecule;
    font-size: 25px;
    margin-bottom: 20px;

}

.cajaImagen{
    margin-top: 50px;
    margin-bottom: 50px;
}

.boton{
    width: 130px;
}

.cajaTextoDerecha{
    padding: 0
}
.colorVerde{
    font-family: Protomolecule;
}

.cajaTexto{
    text-align: left;
}

.menuItem:hover{
    font-weight: bold;
    font-size: 30px;
}